<div class="row">
  <div class="col-3">
    <input type="text" [formField]="empForm.name">
    <div class="text-danger">
      @for (item of empForm.name().errors(); track $index) {
        <span>{{item.message}}</span>
      }
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <input type="text" [formField]="empForm.email">
    <div class="text-danger">
      @for (item of empForm.email().errors(); track $index) {
        <span>{{item.message}}</span>
      }
    </div>
  </div>
</div>


<div>
  {{empForm().value() | json}}
</div>
